#homepage-news .section-button {
    margin-top: 5vh;
}


@media screen and (min-width: 771px) {

    #homepage-news {
        .scrollable { 
            h2 {
                color: $pollen-x-light-grey;
            }
            h2:hover {
                color: $pollen-dark-grey;
            }
        }
        .section-logo {
            display: block;
        }
        .grid-container {
            padding: 0;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: auto 55px 50px 30px auto 28px 6vh;
            grid-gap: 1%;
        }
        .section-logo {
            text-align: right;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        .section-name {
            grid-column: 2 / 5;
            grid-row: 4 / 5;
        }
        .section-header {
            grid-column: 2 / 5;
            grid-row: 5 / 6;
            padding-right: 50px;
        }
        .section-body {
            grid-column: 5 / 11;
            grid-row: 2 / 8;
        }
        .section-button {
            grid-column: 5 / 11;
            grid-row: 6 / 7;
            margin-top: 0;
        }
    }
}