/* Burger menu */

#burger-menu {
    background: $pollen-dark-grey url("/assets/img/burger-menu-bg.jpg") no-repeat top center;
    background-size: cover; 
    position: fixed;
    z-index: 3000;
    padding: 1em 0 0 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: 0;
    max-width: none;
    a {
        color: #fff;
        opacity: 0.5;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 7vh;
        line-height: 8vh;
    }
    ul {
        margin: 15vh 0 0 5vw;
        padding: 0;
    }
}

.burger-menu-button {
    position: fixed;
    top: 3vh;
    right: 20px;
    width: 92px;
    height: 64px;
    background: none;
    border: none;
    z-index: 1200;
}

.burger-menu-close-button {
    position: absolute;
    top: 10px;
    right: 30px;
    height: 57px;
    width: 82px;
    z-index: 5000;
    width: auto;
}

.burger-menu-button img {
    width: 92px;
    margin: 0;
}

.scroll-down-button-orange {
    display: none;
    width: 20%;
    max-width: 158px;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 500;
}

.element.style {
    margin-top: -93.5px;
}


@media screen and (min-width: 771px) {


}

/* Desktop Navigation */

.desktop-navigation .nav-active {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}

#burger-menu .nav-active a {
    opacity: 1;
}

.desktop-navigation {
    position: absolute;
    top: 35px;
    right: 60px;
    visibility: hidden;
}

.desktop-navigation ul {
    position: relative;
    z-index: 100;
    margin: 0;
}

.desktop-navigation ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 100;
    margin: 0;
}

.desktop-navigation, .x-small a {
    padding-right: 1.5vw;
    text-transform: uppercase;
    color: $pollen-xx-light-grey;
}


/* Footer Navigation */

.nav-active {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}


/* Media Queries */

@media screen and (min-width: 771px) {

    .desktop-navigation {
        visibility: visible;
    }

    .scroll-down-button-orange {
        display: block;
    }

    .burger-menu-button {
        top: 10px;
    }
}

